<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Lista de Tarefas</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-mod-8 offset-md-2">
                    <h1 class="mt-5">Lista de Tarefas</h1>
                    <form action="{% url 'tarefas:home' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Descreva sua tarefa"
                                aria-label="Recipent's username" aria-describedby="button-addon2" name="nome">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary"  id="button-addon2" name="salvar">
                                    Salvar
                                </button>
                            </div>
                        </div>
                        <small class="form-text text-muted">{{ form.nome.errors }}</small>
                    </form>

                    <h2 class="mt-5">Lista Pendentes</h2>
                    {% for tarefa in tarefas_pendentes %}
                    <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Descreva sua tarefa" required
                                aria-label="Recipent's username" name="nome" value="{{ tarefa.nome }}">
                            <input type="hidden" value="checked" name="feita" >
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success"  name="salvar">
                                    Marcar como Feita
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endfor %}

                    <h2 class="mt-5">Tarefas já Concluidas</h2>
                    {% for tarefa in tarefas_feitas %}
                    <form action="{% url 'tarefas:detalhe' tarefa_id=tarefa.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Descreva sua tarefa" required
                                aria-label="Recipent's username" name="nome" value="{{ tarefa.nome }}">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-warning"  name="salvar">Marcar como Pendente</button>
                            </div>
                        </div>
                    </form>
                    {% endfor %}

                </div>
            </div>
        </div>
    </body>
</html>